<?xml version="1.0"?>
<model>
  <name>cylinder_obstacle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>
    A simple cylinder with radius 0.25 m and length 1.5 m.
  </description>
</model>
