<?xml version="1.0"?>
<robot name="sweeper" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="realsense_offset_z" value=".210"/>    <!--8.25" (center of realsense to chasis low point)-->

    <link name="sick_link">
    <visual>
        <origin xyz="${.057/2} 0 0" rpy="0 0 0"/>
        <geometry>
        <box size="0.057 0.057 0.089"/>
        </geometry>
    </visual>

    <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
        <box size="0.057 0.057 0.089"/>
        </geometry>
    </collision>

    <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.035"/>
        <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    </link>

    <joint name="sick_joint" type="fixed">
        <parent link="base_link"/>
        <child link="sick_link"/>
        <origin xyz=".813 0 .127" rpy="0 0 0"/>
    </joint>

    <link name="sick_lidar_frame"/>

    <joint name="sick_frame_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="sick_link"/>
        <child link="sick_lidar_frame"/>
    </joint>
</robot>