<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sweeper">

  <xacro:include filename="$(find sweepy_bringup)/urdf/robot_core.xacro"/>
  <xacro:include filename="$(find sweepy_bringup)/urdf/gazebo_control.xacro"/>
  <xacro:include filename="$(find sweepy_bringup)/urdf/sick.xacro"/>

</robot>