<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo Ray Sensor (Simulated LIDAR) -->
  <gazebo reference="sick_link">
    <sensor name="simulated_sick_lidar" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>15</update_rate>
      <always_on>true</always_on>
      <ray>
        <scan>
          <horizontal>
            <samples>10</samples>
            <resolution>1.0</resolution>
            <min_angle>-1.4</min_angle>
            <max_angle>1.4</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.2</min>
          <max>25.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="simulated_sick_lidar_plugin" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=/laser_scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>sick_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

</robot>
